<div class="d-flex justify-content-center align-items-center">
  <div class="card text-center" style="width: 28rem;">
    <div class="card-header">
      <h1>Add New Friend</h1>
    </div>
    <div class="card-body">
      <%= render 'form', friend: @friend %>
    </div>
    <div class="card-footer text-muted">
      <%= link_to 'Back', friends_path %>
    </div>
  </div>
</div>
